doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    title Artiestie
    script(src="app.js")
  body
    script.
      ArtieApp.start({
        container:  document.body,
        debug:      true,
        message:    'Hello from Artiestie!',
      })
